numpy>=1.15.*
future>=0.16.*
matplotlib>=3.0.*
scikit-learn>=0.24.1
tqdm>=4.20.*
networkx>=2.4
demon>=2.0.5
python-louvain>=0.15
nf1~=0.0.3
scipy>=1.3.*
pulp>=2.1
seaborn>=0.9.*
pandas>=0.24
eva_lcd
karateclub>=1.0.0
bimlpa
markov_clustering
chinese_whispers
python-igraph>=0.8
leidenalg>=0.8
angel-cd
pooch~=1.3.0
dynetx~=0.2.3
infomap>=1.3.0
wurlitzer~=2.0.1
thresholdclustering~=1.1
setuptools~=49.2.0
pyclustering
cython
python-Levenshtein