mock==2.0.0
sphinx==1.8.3
sphinx_rtd_theme==0.4.2
numpy==1.16.0
future==0.17.1
wurlitzer==1.0.2
matplotlib==3.0.2
scikit-learn==0.20.2
tqdm==4.29.1
networkx==2.2
python-igraph==0.7.1.post6
leidenalg==0.7.0
angel-cd
demon
infomap
python-louvain
nf1
scipy
git+git://github.com/GiulioRossetti/omega_index
pulp
pquality