numpy
future
matplotlib
scikit - learn
tqdm
networkx >= 3.0
demon
python - louvain >= 0.16
nf1
scipy
pulp
seaborn
pandas
eva_lcd
bimlpa
markov_clustering
# chinese_whispers
python - igraph >= 0.10
angel - cd
pooch
dynetx
thresholdclustering
pyclustering
cython
python - Levenshtein
bayanpy
