mock==2.0.0
sphinx==1.8.3
sphinx_rtd_theme==0.4.2
numpy
future
wurlitzer
matplotlib
scikit-learn
tqdm
networkx
python-igraph
leidenalg
angel-cd
demon
infomap
python-louvain
nf1
scipy
git+git://github.com/GiulioRossetti/omega_index
pulp
pquality