numpy
#future>=0.16.*
scikit-learn
tqdm>=4.20
networkx>=3
demon>=2.0.5
python-louvain>=0.14
scipy
omega_index_py3
pulp>=1.6
seaborn>=0.9
pandas
eva_lcd
bimlpa
ASLPAw
sphinx # ==1.7.5 # pyup: ignore
pooch
dynetx
matplotlib
sphinx_rtd_theme  # ==1.0.0
# jinja2<3.1.0