numpy>=1.15.*
future>=0.16.*
matplotlib>=3.0.*
scikit-learn>=0.21.*
tqdm>=4.20.*
networkx>=2.4
demon>=2.0.5
python-louvain>=0.14
nf1
scipy>=1.3.*
omega_index_py3
pulp>=1.6.*
seaborn>=0.9.*
pandas>=0.24
eva_lcd
karateclub>=1.0.0
bimlpa
ASLPAw
sphinx==1.7.5 # pyup: ignore
pooch
dynetx